<link rel="import" href="../polymer/polymer.html">

<dom-module id="<%= element_name %>">
  <template>
  </template>

  <script>
    Polymer({
      is: '<%= element_name %>'
    });
  </script>
</dom-module>
