<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= element_name %> Sample</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
  </head>
  <body>
    <h3>Place your example here</h3>
  </body>
</html>
